.cover__title {
    /*border: 1px white solid;*/
    color: white;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    max-width: 560px;
    margin: 0;
    z-index: 1;
}

@media (max-width: 768px) {
    .cover__title {
        font-size: calc(32px + (100vw - 320px) * 0.0893);
        line-height: calc(35px + (100vw - 320px) * 0.0915);
    }
}