@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__caption/lead__caption.css);

.lead {
    border: 3px white solid;
    width: 100%;
    max-width: 984px;
    margin-top: 39px;
    margin-left: 49px;
    margin-right: 247px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .lead {
        width: calc(100% - clamp(0px, 9.375vw, 295px));
        margin-right: clamp(48px, 4.6875vw, 247px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .lead {
    
    margin-top: 48px;
    margin-left: calc((100vw - 769px) / 255 * 48);
    margin-right: calc((100vw - 769px) / 255 * 48);

    width: calc(100% - ((100vw - 769px) / 255 * 48 * 2));
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .lead {
    margin: 48px 0 0 0;
    }
}

@media (max-width: 319px) {
    .lead {
    margin: 48px 0 0 0;
    }
}