.header__logo {
    max-width: 176px;
    max-height: 52px;

    justify-self: start;
}


@media (max-width: 320px) {
    .header__logo {
    width: clamp(50px, 20vw, 142px);
    height: auto;
    }
}