@import url(./__logo/header__logo.css);
@import url(./__lang/lang.css);

.header {
    border: 4px white solid;
    max-height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 47px 0 49px;
    overflow-y: hidden;
}

@media (min-width: 1281px) {
    .header {
    margin: 28px 47px 0 49px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .header {
    margin: 28px 47px 0 49px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header {
    margin: 28px 48px 0 48px;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .header {
    margin: 28px 24px 0 24px;
    }
}

@media (max-width: 320px) {
    .header {
    margin: 16px 16px 0 16px;
    max-height: 42px;
    }
}