.place__paragraph {
    /*border: 1px white solid;*/
    color: white;
    font-size: 18px;
    line-height: 163%;
    font-weight: normal;
    margin: 0;
    
    text-justify: inter-word;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .place__paragraph {
        font-size: 14px;
    }
}

  
