.lead__title {
    border: 1px white solid;
    max-width: 720px;
    color: white;
    font-size: 96px;
    line-height: 100px;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 321px) and (max-width: 321px) {
    .lead__title {
    font-size: clamp(40px, 6vw, 96px);
    line-height: clamp(44px, 4vw, 100px);
    }
}

@media (min-width: 155px) and (max-width: 320px) {
    .lead__title {
    font-size: clamp(20px, 6vw, 40px);
    line-height: clamp(25px, 4vw, 44px);
    margin: 0 5px;
    }
}