.lead__image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

@media (min-width: 1281px) {
    .lead__image {
    max-width: 984px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .lead__image {
    max-width: 984px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .lead__image {
    max-width: 928px;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .lead__image {
    max-width: 768px;
    }
}

@media (max-width: 320px) {
    .lead__image {
    max-width: clamp(0px, 6vw, 320px);
    }
}