.lead__caption {
    border: 1px white solid;
    max-width: 158px;
    color: white;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    justify-self: left;
    
    letter-spacing: 1.5px;
    margin-top: 8px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .lead__caption {
    margin: 8px auto auto 24px;
    }
}

@media (max-width: 320px) {
    .lead__caption {
    font-size: clamp(4px, 6vw, 10px);
    line-height: clamp(8px, 6vw, 14px);
    margin: 6px auto auto 18px;
    }
}