.header__lang-link {
    max-width: 30px;
    max-height: 28px;
    color: white;
    text-decoration: none;
    justify-self: end;
    margin-right: 0;
}

.header__lang-link.active {
    text-decoration: underline;
}